.header__container {
    background-color: #EFF8FF;
    position: relative;
}

.hero__img  {
    width: 70%;
    position: absolute;
    bottom: 0;
    right: 0;
}

@media screen and (max-width: 992px) {
    .hero__img  {
        width: 100%;
        height: 48%;
        object-fit: cover;
        top: 430px;
    }
}